<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
<link rel="icon" 
      type="image/png" 
      href="/images/icons/sun-16x16.png">
<!-- <link rel="apple-touch-startup-image" href="/images/icons/startup-320x460.png" /> -->
<link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png" />
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<title>Mobile Weather App</title>