<div class="menu-item">
  <h2>Devin's Mobile Weather App</h3>
  <p>This is a mobile first, responsive PWA.</p>
  <hr>
  <h2>Actions:</h2>
  <h3>Flip through Weather Cards:</h3>
  <p>keyboard: "left" and "right" arrows</p>
  <p>touch: swipe "left" and "right"</p>
  <h3>Get new location:</h3>
  <p>Flip to right most card. Enter new location (press enter/return). Select location from dropdown list</p>
  <h3>Save card to favorites:</h3>
  <p>touch/mouse: click on star in upper right hand corner to toggle</p>
  <h3>Delete Weather Card:</h3>
  <p>keyboard: "delete" or "backspace"</p>
  <p>touch: swipe up</p>
  <h3>View hour by hour weather:</h3>
  <p>touch/mouse: use range slider</p>
  <h3>Update current location:</h3>
  <p>touch/mouse: click on locator icon in lower right corner</p>
</div>