* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}
body {
  perspective: 150vw;
  height: 100vh;
  overflow: hidden;
}
/* Portrait, Mobile */
.city-page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  transition: all 2s;
}
#secondary {
  background-color: purple;
}
#primary {
  background-color:burlywood;
}
.back {
  transform: rotateY(180deg);
  z-index: 0;
}
.front {
  transform: rotateY(0deg);
  z-index: 4;
}


/* Top Section */
.todays-forecast {
  /* GRID LAYOUT */
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  /***************/
  padding: 2vw;
  background-color: rgb(95, 116, 95);
  height: 60vw;
}
.city {
  grid-row: 1;
  grid-column: 1 / 4;
  font-size: 12vw;
}
.summary {
  grid-row: 2;
  grid-column: 1 / 4;
  font-size: 8vw;
  color: gray;
}
.todays-forecast .weather-icon {
  grid-row: 3;
  grid-column: 1 / 2;
}
.todays-forecast .temp {
  grid-row: 3;
  grid-column: 2 / 3;
  font-size: 20vw;
}
.details {
  grid-row: 3;
  grid-column: 3 / 4;
  /* GRID LAYOUT */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 1vw;
  align-content: center;
  /***************/
}
.details * {
  font-size: 4vw;
}
.details p:nth-child(odd) {
  justify-self: end;
}
.forecast {
  grid-column: 1 / 4;
  font-size: 4.5vw;
}
.slider {
  grid-column: 1 / 4;
  height: 2vw;
  width: 100vw;
  background-color: gray;
}
.handle {
  height:4vw;
  width: 2vw;
  background-color: black;
}
/* Bottom Section */
.week-forecast {
  background-color: rgb(95, 103, 116);
  height: calc(100vh - 60vw);
  overflow-y: auto;
  padding: 2vw;
}
.week * {
  font-size: 6vw;
}
.week li {
  /* GRID LAYOUT */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  /***************/
}
.week-forecast .weather-icon {
  color: red;
  justify-self: center;
}
.week-forecast .temp {
  justify-self: end;
}
/* Landscape, Mobile */

/* Desktop */