* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}
html{
  font-size: 4vw;
}
body {
  perspective: 150vw;
  height: 100vh;
  overflow: hidden;
  background-color: gray;
}
/* Portrait, Mobile */
.city-page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
}
#a {
  background-color: white;
  transform: rotateY(0deg);
}
#b {
  background-color: white;
  transform: rotateY(180deg);
}
.front {
  transition: transform .5s, visibility 0s linear .1625s;
  -webkit-transition: transform .5s, visibility 0s linear .1625s;
  visibility: visible;
}
.back {
  transition: transform .5s, visibility 0s linear .1625s;
  -webkit-transition: transform .5s, visibility 0s linear .1625s;
   visibility: hidden;
}

.lo {
  color: gray;
}
.lo::before {
  content: ' ';
}
.lo::after, .hi::after, .todays-forecast .temp::after {
  content: '°';
}

/* Top Section */
.todays-forecast {
  /* GRID LAYOUT */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /***************/
  padding: .5rem;
  background-color: white;
  height: 75vw;
}
.city {
  grid-row: 1;
  grid-column: 1 / 4;
  font-size: 3rem;
  margin-top:1rem;
  border: none;
  background-color: rgb(233, 233, 233);
}
.filled {
  pointer-events: none;
  cursor: pointer;
  background-color: white;
}
.summary {
  grid-row: 2;
  grid-column: 1 / 4;
  font-size: 1.75rem;
  color: gray;
  margin-bottom: 1rem;
}
.todays-forecast .temp {
  grid-row: 3;
  grid-column: 2 / 3;
  font-size: 4rem;
}
.details {
  grid-row: 3;
  grid-column: 3 / 4;
  /* GRID LAYOUT */
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: .5rem;
  grid-row-gap: .25rem;
  align-content: center;
  /***************/
}
.details * {
  font-size: 1rem;
}
.details p:nth-child(odd) {
  justify-self: end;
}
.details .humidity::after,
.details  .precip::after {
  content: '%';
}
.details .windSpeed::after {
  content: 'mph';
}
.forecast {
  grid-column: 1 / 4;
  font-size: 1.1rem;
  height: 2.5rem;
  overflow: auto;
}
.slider {
  grid-column: 1 / 4;
  height: .5rem;
  width: 80vw;
  background-color: gray;
  margin: 1rem auto;
}
.handle {
  height:2rem;
  width: 1rem;
  background-color: black;
  transform: translateY(-.75rem);
  border-radius: .5rem;
}
/* Bottom Section */
.week-forecast {
  background-color: white;
  height: calc(100vh - 60vw);
  overflow-y: auto;
  padding: .5rem;
}
.week-forecast .forecast {
  height: initial;
  overflow: initial;
}
.week {
  margin-top: 1rem;
}
.week * {
  font-size: 1.5rem;
}
.week li {
  /* GRID LAYOUT */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  /***************/
  margin-top: .75rem;
}

.week-forecast .temp {
  justify-self: end;
}
/* Landscape, Mobile */

/* Desktop */

/* Weather Icons */
.weather-icon {
  
}
.todays-forecast .weather-icon {
  grid-row: 3;
  grid-column: 1 / 2;
  width: 5.5rem;
  height: 4.5rem;
  align-self: center;
  justify-self: center;
  background-size: 7rem;
  background-position: -1rem -1.2rem;
}
.week-forecast .weather-icon {
  width: 4.5rem;
  height: 3.5rem;
  justify-self: center;
  background-size: 5rem;
  background-position: -.5rem -.75rem;
}

.clear-day, .clear-night {
  background-image: url('../images/Sun.svg');
}
.partly-cloudy-day, .partly-cloudy-night {
  background-image: url('../images/Cloud-Sun.svg');
}
.cloudy {
  background-image: url('../images/Cloud.svg');
}
.rain {
  background-image: url('../images/Cloud-Rain.svg');
}
.snow {
  background-image: url('../images/Cloud-Snow.svg');
}
.sleet {
  background-image: url('../images/Cloud-Sleet.svg');
}
.wind {
  background-image: url('../images/Wind.svg');
}
.fog {
  background-image: url('../images/Cloud-Fog.svg');
}
.hail {
  background-image: url('../images/Cloud-Hail.svg');
}
.thunderstorm {
  background-image: url('../images/Cloud-Lightning.svg');
}
.tornado {
  background-image: url('../images/Tornado.svg');
}
.unknown {
  background-image: url('../images/Unknown.svg');
}
/* styling for the range input */
input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  
  /*required for proper track sizing in FF*/
  width: 80vw;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 80vw;
  height: .5rem;
  background: #ddd;
  border: none;
  border-radius: .75rem;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 2rem;
  width: 1rem;
  border-radius: 1rem;
  background: gray;
  margin-top: -.75rem;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 80vw;
  height: .5rem;
  background: #ddd;
  border: none;
  border-radius: .75rem;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 2rem;
  width: 1rem;
  border-radius: 1rem;
  background: gray;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: .25rem solid white;
  outline-offset: -.25rem;
}

input[type=range]::-ms-track {
  width: 80vw;
  height: .5rem;
  
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 1.5rem 0;

  /*remove default tick marks*/
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 1rem;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 1rem;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 2rem;
  width: 1rem;
  border-radius: 1rem;
  background: gray;
}
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
