html,
body {
  position: fixed;
  overflow: hidden;
}
.mainwrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  perspective: 150vw;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}
html{
  font-size: 4vmin;
}
body {
  /* perspective: 150vw;
  height: 100vh;
  overflow: hidden; */
  background: linear-gradient(to top right, #e4e4e4, #ffffff);
}
/* Portrait, Mobile */
.city-page {
  max-height: 94vh;
  height: 57rem;
  width: 25rem;
  overflow: hidden;
  /* position: absolute; */
  box-shadow: 1rem 1rem 2rem rgba(156, 156, 156, 0.5);
  /* left: calc(100vw/2 - 12.5rem); */
  margin: auto;
}
#a {
  transform: rotateY(0deg);
}
#b {
  transform: rotateY(180deg);
}
.front {
  transition: box-shadow .5s, transform .5s, height 0s linear .06s;
  -webkit-transition: box-shadow .5s, transform .5s, height 0s linear .06s;
  /* visibility: visible; */
}
.back {
  transition: box-shadow .5s, transform .5s, height 0s linear .06s;
  -webkit-transition: box-shadow .5s, transform .5s, height 0s linear .06s;
   height: 0;
   box-shadow: 10rem 1rem 2rem #9c9c9c;
}
.animate div.background {
  transition: opacity 2s;
}
div.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
[time=twilight]  div.background.daytime,
[time=twilight]  div.background.nighttime,
[time=daytime]   div.background.twilight,
[time=daytime]   div.background.nighttime,
[time=nighttime] div.background.daytime,
[time=nighttime] div.background.twilight {
  opacity: 0;
}
div.background {
  opacity: 1;
}
div.white {
  background: linear-gradient(rgb(142, 120, 184), rgb(255, 234, 114));
}
div.daytime {
  background: linear-gradient(#b9e3ff, #f7fdff);
}
div.twilight {
  background: linear-gradient(rgb(142, 120, 184), rgb(255, 234, 114));
}
div.nighttime {
  background: linear-gradient(rgb(21, 19, 31), rgb(59, 56, 192));
}

/******************************************************/
[time=daytime] section{
  color: black;
}
[time=daytime] section input{
  color: black;
}
.safari [time=daytime] section input{
  -webkit-text-fill-color:black;
  color: initial;
}
[time=daytime] .weather-icon {
  /* filter: invert(0%) sepia(2%) saturate(5993%) hue-rotate(329deg) brightness(110%) contrast(76%); */
}
[time=daytime] .lo {
  color: rgb(103, 103, 103);
}
[time=twilight] section {
  color: black;
}
[time=twilight] section input{
  color: black;
}
.safari [time=twilight] section input{
  -webkit-text-fill-color: black;
  color: initial;
}
[time=twilight] .lo {
  color: rgb(103, 103, 103);
}
[time=twilight] .weather-icon {
  /* filter: invert(0%) sepia(2%) saturate(5993%) hue-rotate(329deg) brightness(110%) contrast(76%); */
}
[time=nighttime] section{
  color: #dfdfb2;
}
[time=nighttime] section input{
  color: #dfdfb2;
}
.safari [time=nighttime] section input{
  -webkit-text-fill-color: #dfdfb2;
  color: initial;
}
[time=nighttime] .lo {
  color: rgb(131, 126, 104);
}
[time=nighttime] .weather-icon {
  filter: invert(69%) sepia(76%) saturate(100%) hue-rotate(19deg) brightness(100%) contrast(100%);
}

/*****************************************/
.animate section input {
  transition: color 2s, -webkit-text-fill-color 2s;
}

.animate [time=daytime] section,
.animate [time=nighttime] section,
.animate [time=twilight] section,
.animate [time=daytime] .lo,
.animate [time=nighttime] .lo,
.animate [time=twilight] .lo {
  transition: color 2s;
}

.animate [time=daytime] .weather-icon,
.animate [time=twilight] .weather-icon,
.animate [time=nighttime] .weather-icon {
  transition: filter 1.7s;
}

/****************************************/

.lo {
  color: gray;
}
.lo::before {
  content: ' ';
}
.lo::after, .hi::after, .todays-forecast .temp::after {
  content: '°';
}

/* Top Section */
.todays-forecast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: .5rem;
  height: 19rem;
}
.city {
  grid-row: 1;
  grid-column: 1 / 4;
  font-size: 3rem;
  margin-top:1rem;
  border: none;
  background-color: #f7fdff;
}
.filled {
  pointer-events: none;
  cursor: pointer;
  background-color: transparent;
}
.summary {
  grid-row: 2;
  grid-column: 1 / 4;
  font-size: 1.75rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.summary .weather-summary {
  font-size: 1.5rem;
}
.todays-forecast .temp {
  grid-row: 3;
  grid-column: 2 / 3;
  font-size: 4rem;
  justify-self: center;
}
.details {
  grid-row: 3;
  grid-column: 3 / 4;
  /* GRID LAYOUT */
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: .5rem;
  grid-row-gap: .25rem;
  align-content: center;
  /***************/
}
.details * {
  font-size: 1rem;
}
.details p:nth-child(odd) {
  justify-self: end;
}
.details .humidity::after,
.details  .precip::after {
  content: '%';
}
.details .windSpeed::after {
  content: 'mph';
}
.forecast {
  grid-column: 1 / 4;
  font-size: 1.1rem;
  height: 2.8rem;
  overflow-y: auto;
}
.slider {
  grid-column: 1 / 4;
  background-color: transparent;
}
.handle {
  height:2rem;
  width: 1rem;
  background-color: black;
  transform: translateY(-.75rem);
  border-radius: .5rem;
}
/* Bottom Section */
.week-forecast {
  max-height: calc(100vh - 19rem);
  height: 50rem;
  overflow-y: auto;
  padding: .5rem;
}
.week-forecast .forecast {
  height: initial;
  overflow: auto;
}
.week {
  margin-top: 1rem;
}
.week * {
  font-size: 1.5rem;
}
.week li {
  /* GRID LAYOUT */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  /***************/
  margin-top: .75rem;
}

.week-forecast .temp {
  justify-self: end;
}

/* Weather Icons */
[time=nighttime] .todays-forecast .clear-day,
[time=nighttime] .todays-forecast .clear-night {
  background-image: url('../images/Moon.svg');
}
[time=nighttime] .todays-forecast .partly-cloudy-day,
[time=nighttime] .todays-forecast .partly-cloudy-night {
  background-image: url('../images/Cloud-Moon.svg');
}
.todays-forecast .weather-icon {
  grid-row: 3;
  grid-column: 1 / 2;
  width: 5.5rem;
  height: 4.5rem;
  align-self: center;
  justify-self: center;
  background-size: 7rem;
  background-position: -1rem -1.2rem;
}
.week-forecast .weather-icon {
  width: 4.5rem;
  height: 3.5rem;
  justify-self: center;
  background-size: 5rem;
  background-position: -.5rem -.75rem;
}

.clear-day, .clear-night {
  background-image: url('../images/Sun.svg');
}
.partly-cloudy-day, .partly-cloudy-night {
  background-image: url('../images/Cloud-Sun.svg');
}
.cloudy {
  background-image: url('../images/Cloud.svg');
}
.rain {
  background-image: url('../images/Cloud-Rain.svg');
}
.snow {
  background-image: url('../images/Cloud-Snow.svg');
}
.sleet {
  background-image: url('../images/Cloud-Sleet.svg');
}
.wind {
  background-image: url('../images/Wind.svg');
}
.fog {
  background-image: url('../images/Cloud-Fog.svg');
}
.hail {
  background-image: url('../images/Cloud-Hail.svg');
}
.thunderstorm {
  background-image: url('../images/Cloud-Lightning.svg');
}
.tornado {
  background-image: url('../images/Tornado.svg');
}
.unknown {
  background-image: url('../images/Unknown.svg');
}

.delete {
  animation-name: delete;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
button.favorite {
  grid-column: 3 / 4;
  grid-row: 1;
  padding: 1rem 0;
  background-color: transparent;
  border: none;
  z-index: 100;
  align-self: flex-start;
  justify-self: flex-end;
  font-size: 3rem;
  line-height: 1.5rem;
  filter: invert(70%) opacity(.3);
  color: black;
  -webkit-text-fill-color: black;
}
.no-touch .favorite:hover {
  filter: invert(90%) sepia(14%) saturate(7297%) hue-rotate(344deg) brightness(90%) contrast(89%);
}
.favorite.clicked {
  filter: invert(90%) sepia(14%) saturate(7297%) hue-rotate(344deg) brightness(90%) contrast(89%);
}
.favorite.animate {
  animation-name: favorite;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.favorite.hidden {
  display: none;
}
@keyframes favorite {
  10% {
    transform: scale(.7, .7);
  }
  45% {
    transform: scale(2, 2);
  }
  80% {
    transform: scale(.9, .9);
  }
}

@keyframes delete {
  40% {
    transform: translate(0px, -100vh);
  }
  41% {
    transform: translate(100vw, -100vh);
  }
  42% {
    transform: translate(100vw, 0vh);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* Range Input Slider Styling */
input[type=range].slider {
  -webkit-appearance: none;
  width: 80%;
  margin: 1rem auto;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: .075rem;
  cursor: pointer;
  background: #828282;
}
input[type=range].slider::-webkit-slider-thumb {
  opacity: .5;
  box-shadow: 1.6px 1.6px 7.9px rgba(0, 0, 0, 0.5);
  height: 2.5rem;
  width: 1.5rem;
  border-radius: 1.5rem;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1.1875rem;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #828282;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: .075rem;
  cursor: pointer;
  background: #828282;
}
input[type=range].slider::-moz-range-thumb {
  opacity: .5;
  box-shadow: 1.6px 1.6px 7.9px rgba(0, 0, 0, 0.5);
  height: 2.5rem;
  width: 1.5rem;
  border-radius: 1.5rem;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: .075rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #828282;
  border-radius: 50%;
  box-shadow: 1.2px 1.2px 1px rgba(0, 0, 0, 0), 0px 0px 1.2px rgba(13, 13, 13, 0);
}
input[type=range].slider::-ms-fill-upper {
  background: #828282;
  border-radius: 50%;
  box-shadow: 1.2px 1.2px 1px rgba(0, 0, 0, 0), 0px 0px 1.2px rgba(13, 13, 13, 0);
}
input[type=range].slider::-ms-thumb {
  opacity: .5;
  box-shadow: 1.6px 1.6px 7.9px rgba(0, 0, 0, 0.5);
  height: 2.5rem;
  width: 1.5rem;
  border-radius: 1.5rem;
  background: #ffffff;
  cursor: pointer;
  height: 1px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #828282;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #828282;
}
[status=blank] .weather-icon,
[status=blank] .temp,
[status=blank] .details,
[status=blank] .forecast,
[status=blank] .slider,
[status=blank] .week-forecast,
[status=downloading] .week-forecast,
[status=downloading] .details,
[status=downloading] .forecast,
[status=downloading] .slider {
  visibility: hidden;
}

@media screen and (min-width: 550px) {
  html{
    font-size: 22px;
  }
}
@media screen and (max-height: 50rem) and (min-aspect-ratio: 44/64){
  html {
    font-size: 2.75vh;
  }
}

/**** Scrollbar Styling ****/
*::-webkit-scrollbar {
  width: .3rem;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
*::-webkit-scrollbar-thumb {
background-color: rgba(169, 169, 169, 0.55);
}

/**** Weather Card Number-indicator/Scrollbar ****/
#card-scroll {
  max-height: 34rem;
  /* height: 57rem; */
  width: 20rem;
  /* transform: translateZ(500px); */
  /* position: fixed; */
  /* left: calc(100vw/2 - 10rem); */
  margin: auto;
  pointer-events: none;
}
#card-scroll > div {
  margin-bottom: 1rem;
  /* position: absolute; */
  /* bottom: 0; */
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#card-scroll > div > div {
  height: .7rem;
  width: .7rem;
  margin: 0 .2rem;
  border: .1rem solid rgb(131, 131, 131);
  border-radius: .5rem;
  background: transparent;
  opacity: .8;
  box-shadow: 1rem 1rem 2rem rgba(156, 156, 156, 0.5);
}
#card-scroll .selected {
  background: rgb(160, 160, 160);
}