<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <main id="a" class="city-page front">
    <% include ../partials/card.ejs %>
  </main>
  <main id="b" class="city-page left">
    <% include ../partials/card2.ejs %>
  </main>
  <main id="c" class="city-page right">
    <% include ../partials/card_empty.ejs %>
  </main>
</body>
<% include ../partials/scripts.ejs %>
</html>
