<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
<main id="primary" class="city-page front">
  <h1>This is the font side</h1>
  <h2>I have been flipped <span>0</span> times</h2>
</main>
<main id="secondary" class="city-page back">
  <h1>This is the back side</h1>
  <h2>I have been flipped <span>-1</span> times</h2>
</main>
</body>
<% include ../partials/scripts.ejs %>
</html>
