<!DOCTYPE html>
<html class="no-touch">
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="mainwrapper">
    <main id="a" class="city-page front" time="daytime" status="downloading">
      <% include ../partials/card.ejs %>
    </main>
    <main id="b" class="city-page back" time="daytime" status="blank">
      <% include ../partials/card.ejs %>
    </main>
    <% include ../partials/menu.ejs %>
    <% include ../partials/dropdown.ejs %>
  </div>
</body>
<% include ../partials/scripts.ejs %>
</html>
